<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="shortcut icon" href="{{ asset('assets/web') }}/images/favicon/ico.ico" />

  <title>{{ title|default("Eduniversal Dean's vote") }}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Refresh" content="13600">
  <meta name="keywords" content="Eduniversal Deans' Vote">
  <meta name="description"
    content="Dean's Vote session 2020. The annual Best Business Schools Worldwide Ranking. An official Peers' Recognition and Awards ceremony!">
  <meta property="og:title" content="Dean's vote 2020, Eduniversal Evaluation Agency">
  <meta name="twitter:card" content="summary_large_image">
  {% set domain_url_content = domain_url %}
  <meta property="og:image" content="{{ domain_url_content }}/assets/web/images/image-share.jpg" />
  <meta name="twitter:image" content="{{ domain_url_content }}/assets/web/images/image-share.jpg">

  <link href="{{ asset('assets/web') }}/css/global.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/web') }}/css/jquery.fancybox.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/web') }}/css/owl.carousel.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/web') }}/css/jquery.mCustomScrollbar.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/web') }}/css/start/jquery-ui-1.8.6.custom.css" media="screen" rel="stylesheet" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ asset('assets/web') }}/css/custom.css">
  <link rel="stylesheet" href="{{ asset('assets/web') }}/css/customs/loading_spiner.css">
  <link rel="stylesheet" href="{{ asset('assets/web') }}/css/customs/sweetalert.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">