<div class="sidebar" data-color="primary">
    <div class="logo">
        <a href="/admin/new-school" class="simple-text logo-base">
            <div class="logo-img-sw"><img src="{{ asset(asset_admin_v2_image_dir) }}/logo.png"></div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a data-toggle="collapse" href="#pagesShoolmanager" aria-expanded="false">
                    <i><img src="{{ asset(asset_admin_v2_image_dir) }}/manager.svg" width="22"></i>
                    <p>School manager</p><b class="caret"></b>
                </a>
                <div class="collapse" id="pagesShoolmanager">
                    <ul class="nav">
                        <li>
                            <a href="/admin/new-school"><span class="sidebar-mini-icon">E B</span><span
                                    class="sidebar-normal"> Eduniversal Business Schools </span></a>
                        </li>
                        <li>
                            <a href="/admin/new-selected-schools"><span class="sidebar-mini-icon">E
                                    S</span><span class="sidebar-normal"> Eduniversal Selected Schools
                                </span></a>
                        </li>
                        <li>
                            <a href="/admin/new-league-2"><span class="sidebar-mini-icon">L2 </span><span
                                    class="sidebar-normal"> League 2 </span></a>
                        </li>
                        <li>
                            <a href="/admin/new-list-from-dean"><span class="sidebar-mini-icon">L2 D</span><span
                                    class="sidebar-normal"> League 2 - Dean's Suggestions </span></a>
                        </li>
                        <li>
                            <a href="{{ path('admin_area') }}"><span class="sidebar-mini-icon">A</span><span
                                    class="sidebar-normal"> Area </span></a>
                        </li>
                        <li>
                            <a href="{{ path('admin_country') }}"><span class="sidebar-mini-icon">C</span><span
                                    class="sidebar-normal"> Country </span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <!-- <a href="/admin/new-report">
          <i><img src="{{ asset(asset_admin_v2_image_dir) }}/report.svg" width="22"></i>
          <p>Report</p>
      </a> -->
                <a data-toggle="collapse" href="#pagesReport" aria-expanded="false">
                    <i><img src="{{ asset(asset_admin_v2_image_dir) }}/report.svg" width="22"></i>
                    <p>Report</p> <b class="caret"></b>
                </a>
                <div class="collapse" id="pagesReport">
                    <ul class="nav">
                        <li>
                            <a href="/admin/new-report"><span class="sidebar-mini-icon">C</span><span
                                    class="sidebar-normal"> Vote completed</span></a>
                        </li>
                        <li>
                            <a href="/admin/new-report/in-progress"><span class="sidebar-mini-icon">I
                                    P</span><span class="sidebar-normal"> In progress</span></a>
                        </li>
                        <li>
                            <a href="/admin/new-report/voting-first-time"><span
                                    class="sidebar-mini-icon">F</span><span class="sidebar-normal"> Voting first
                                    time</span></a>
                        </li>
                        <li>
                            <a href="/admin/new-report/participated-League"><span class="sidebar-mini-icon">P
                                    L</span><span class="sidebar-normal"> Participated League 2 </span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a data-toggle="collapse" href="#pagesStatistic" aria-expanded="false">
                    <i><img src="{{ asset(asset_admin_v2_image_dir) }}/statistic.svg" width="22"></i>
                    <p>Statistic</p><b class="caret"></b>
                </a>
                <div class="collapse" id="pagesStatistic">
                    <ul class="nav">
                        <li>
                            <a href="/admin/new-statistic"><span class="sidebar-mini-icon">W</span><span
                                    class="sidebar-normal"> World</span></a>
                        </li>
                        <li>
                            <a href="/admin/new-statistic/area"><span class="sidebar-mini-icon">A</span><span
                                    class="sidebar-normal"> Area </span></a>
                        </li>
                        <li>
                            <a href="/admin/new-statistic/country"><span class="sidebar-mini-icon">C</span><span
                                    class="sidebar-normal"> Country </span></a>
                        </li>
                        <li>
                            <a href="/admin/new-statistic/school"><span class="sidebar-mini-icon">S</span><span
                                    class="sidebar-normal"> School </span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="">
                <a href="/admin/new-ranking">
                    <i><img src="{{ asset(asset_admin_v2_image_dir) }}/ranking.svg" width="22"></i>
                    <p>Ranking</p>
                </a>
            </li>
            <li class="">
                <a href="/admin/new-session-manager">
                    <i><img src="{{ asset(asset_admin_v2_image_dir) }}/session-manager.svg" width="22"></i>
                    <p>Session manager</p>
                </a>
            </li>
            <li class="">
                <a href="/admin/new-marketing">
                    <i><img src="{{ asset(asset_admin_v2_image_dir) }}/marketing.svg" width="26"></i>
                    <p>Marketing</p>
                </a>
            </li>
            <li class="">
                <a href="/admin/new-comments">
                    <i><img src="{{ asset(asset_admin_v2_image_dir) }}/comment.svg" width="20"></i>
                    <p>Comments</p>
                </a>
            </li>
            <li class="">
                <a data-toggle="collapse" href="#pagesInterviews" aria-expanded="false">
                    <i><img src="{{ asset(asset_admin_v2_image_dir) }}/interviews.svg" width="16"></i>
                    <p>Interviews</p><b class="caret"></b>
                </a>
                <div class="collapse" id="pagesInterviews">
                    <ul class="nav">
                        <li><a href="/admin/new-interview"><span class="sidebar-mini-icon">D A</span><span
                                    class="sidebar-normal"> Dean's Answer </span></a></li>
                        <li><a href="/admin/new-topic"><span class="sidebar-mini-icon">D T</span><span
                                    class="sidebar-normal"> Dean's Topic </span></a></li>
                        <li><a href="/admin/new-interview-student"><span class="sidebar-mini-icon">S
                                    A</span><span class="sidebar-normal"> Student's Answer </span></a></li>
                        <li><a href="/admin/new-topic-student"><span class="sidebar-mini-icon">S T</span><span
                                    class="sidebar-normal"> Student's Topic </span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
