<section id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4500" data-pause="">
        <a class="btn-scroll-next animated fadeInDown page-scroll wow" data-wow-iteration="200"
            href="/#sec-form-login"><span class="lnr lnr-arrow-down-circle"></span></a>
        <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
            <li data-target="#home-slider" data-slide-to="1"></li>
            <li data-target="#home-slider" data-slide-to="2"></li>
            <li data-target="#home-slider" data-slide-to="3"></li>
            <li data-target="#home-slider" data-slide-to="4"></li>
            <li data-target="#home-slider" data-slide-to="5"></li>
            <li data-target="#home-slider" data-slide-to="6"></li>
            <li data-target="#home-slider" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
            <!-- item-1 -->
            <div class="item active"
                style="background-image: url({{ asset(asset_web_image_dir) }}/slider/1.jpg); background-position: center center;">
                <div class="caption">
                    <!-- <h2 class="animated fadeInDownBig">Eduniversal Deans’ Vote 2020</h2> -->
                    <h2 class="animated fadeInDownBig">Eduniversal Deans’ Vote 2020</h2>
                    <p class="animated fadeInLeftBig">An annual survey ...</p>
                </div>
            </div>
            <!-- item-2 -->
            <div class="item"
                style="background-image: url({{ asset(asset_web_image_dir) }}/slider/2.jpg); background-position: center top;">
                <div class="caption">
                    <h2 class="animated fadeInDownBig">A Peers assessment component</h2>
                    <p class="animated fadeInLeftBig">Collecting Deans' expertise ...</p>
                </div>
            </div>
            <!-- item-3 -->
            <div class="item"
                style="background-image: url({{ asset(asset_web_image_dir) }}/slider/3.jpg); background-position: center center;">
                <div class="caption">
                    <h2 class="animated fadeInDownBig">Your Expertise taken into account</h2>
                    <p class="animated fadeInLeftBig">About best business education worldwide</p>
                </div>
            </div>
            <!-- item-4 -->
            <div class="item"
                style="background-image: url({{ asset(asset_web_image_dir) }}/slider/4.jpg); background-position: center center;">
                <div class="caption">
                    <h2 class="animated fadeInDownBig">Annual Best Business Schools worldwide ranking</h2>
                    <p class="animated fadeInLeftBig">An official Peers' Recognition and Awards ceremony!</p>
                </div>
            </div>
            <!-- item-5 -->
            <div class="item"
                style="background-image: url({{ asset(asset_web_image_dir) }}/slider/5.jpg); background-position: center center;">
                <div class="caption">
                    <h2 class="animated fadeInDownBig">Eduniversal Deans’ Vote 2020</h2>
                    <p class="animated fadeInLeftBig">An annual survey ...</p>
                </div>
            </div>
            <!-- item-6 -->
            <div class="item"
                style="background-image: url({{ asset(asset_web_image_dir) }}/slider/6.jpg); background-position: center center;">
                <div class="caption">
                    <h2 class="animated fadeInDownBig">A Peers assessment component</h2>
                    <p class="animated fadeInLeftBig">Collecting Deans' expertise ...</p>
                </div>
            </div>
            <!-- item-7 -->
            <div class="item"
                style="background-image: url({{ asset(asset_web_image_dir) }}/slider/7.jpg); background-position: center center;">
                <div class="caption">
                    <h2 class="animated fadeInDownBig">Your Expertise taken into account</h2>
                    <p class="animated fadeInLeftBig">About best business education worldwide</p>
                </div>
            </div>
            <!-- item-8 -->
            <div class="item"
                style="background-image: url({{ asset(asset_web_image_dir) }}/slider/8.jpg); background-position: center top;">
                <div class="caption">
                    <h2 class="animated fadeInDownBig">Annual Best Business Schools worldwide ranking</h2>
                    <p class="animated fadeInLeftBig">An official Peers' Recognition and Awards ceremony!</p>
                </div>
            </div>
        </div>
    </div>
</section>