<section class="wp_login" id="sec-form-login">
    <div class="container">
        <!-- <h5 class="head">Start your voting session 2020</h5> -->
        <h5 class="head">Voting Session 2020 - OPEN</h5>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="block-wel">
                <p class="text-wel">Welcome  <b class="cl_primary">{{ app.user.email1 }}</b> from <b class="cl_primary">ADEN International Business School</b></p>
                <a href="{{ path('app_dean_logout') }}" class="btn-default">LOGOUT</a>
            </div>
        {% else %}
        <form name="login" id="loginForm" method="POST" enctype="multipart/form-data">
            <div class="mb-block">
                <div class="frgroup">
                    <span><i class="sprite sprite-ic-admin"></i>Login:</span>
                    <input id="email" name="email" class="input-default ip-name" type="text" autocomplete="off">
                </div>
                <div class="frgroup">
                    <span><i class="sprite sprite-ic-pass"></i>Password:</span>
                    <input id="password" name="password" class="input-default ip-password" type="password" autocomplete="off">
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="frcaptcha">
                <span>Security Code</span>
                <a class="refresh" onclick="refreshCode()" href="javascript:void(0);">
                    <i id="fa-refresh" class="fa fa-refresh fa-lg fa-fw "></i>
                </a>
                <div id="parent-code-image" style="display: inline;">
                    <i class="fas fa-circle-notch fa-spin"></i>
                    <img src="{{ path('render_captcha') }}" alt="CAPTCHA" id="refesh-code">
                </div>
                <input id="captcha_string" name="captcha_string" class="input-default ip-code" type="text">
            </div>
            <!-- <input type="hidden" name="hidden_login" value="login"> -->
            <button class="btn-primary" type="submit">Sign In</button>
            <a href="{{ path('dean_foget_password') }}" class="link-forgot">Forgot your Password ?</a>
        </form>
        {% endif %}

    </div>
</section>