{% extends web_layout_dir ~ "\/" ~ "base.html.twig" %}
{% set title = "Dean's voting session - Dean's vote 2020, Eduniversal Evaluation Agency" %}

{# menu active collor #}
{% set menu_voting_session_active = 'active' %}

{% block main_content %}
<main id="main" class="underpage">
    <section class="sec-account-login acc-vote-finished">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h2>Welcome to your Dean’s session 2020!</h2>
                </div>
                <div class="col-sm-5 acc-right">
                    <a href="javascript:" class="btn btn-ac-name">
                        <i class="sprite sprite-ic-user-circle" aria-hidden="true"></i>
                        {{ app.user.email|default('') }}
                    </a>
                    <a href="{{ path('app_dean_logout') }}" class="btn btn-logout">LOGOUT</a>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="intro-past">
                    <p class="title p2" style="text-transform: uppercase;">
                        <!-- Welcome to your Dean’s session 2020! -->
                        Welcome to your Dean’s session 2020!
                    </p>
                    <p>
                        Every year, Eduniversal executives alongside an international scientific committee composed of nine
                        independent experts in global higher education publish the ranking of the <strong>1,000</strong> Best
                        Business Schools in <strong>154</strong> countries.
                    </p>
                    <!-- <p>Like every year, Eduniversal and the members of its Scientific Comitee are re evaluating the ranking of the 1,000 Best Business Schools in 154 countries.</p> -->
                    <p>
                        This ranking evaluates a list of Business Schools in each country separately, based on their overall
                        performance, the degree of internationalization, and the number of Palmes of Excellence they hold. In
                        order for the results to be relevant and conclusive, the ranking is conducted through an annual survey
                        based on the participation of the Deans and Directors of the 1,000 best business schools : <strong>the
                            Deans' Vote</strong>.
                    </p>
                    <p>
                        The Deans’ vote results are also used to grant, during the annual Eduniversal World Convention, awards
                        for the <strong>TOP 3 Business Schools</strong> from each of the <strong>9 geographical zones</strong> ;
                        as well as the World Trophy for the institution that receives the highest recommendations’ rate from the
                        Deans worldwide.
                    </p>
                    <p>
                        This is an exclusive invitation-only survey where Deans and Directors get to evaluate their peers’
                        performance, and express their own perception and analysis.
                    </p>
                    <p>
                        You are cordially invited to share with us, confidentially and securely, which of the <strong>1,000 Best
                            Business Schools Official Selection</strong> <u>you would recommend to your students and/or teachers
                            in the context of higher education opportunities.</u>
                    </p>
                    <!-- <p>This ranking sheds the light on the best management schools of each country, and honours every single one of those, according to a set of criteria related to their degree of internationalization, with a number of Palmes d’Excellence. Thereafter, the position of the schools among their own country and the Palmes League to which they belong, is determined by an annual survey, conducted with the participation of the Deans and Directors of the 1,000 best business schools : <strong>the Deans' Vote</strong>. The Deans’ vote results are also used to grant, every year and during the Eduniversal World Convention, the awards for the TOP3 Business Schools from each of the 9 geographical zones ; as well the World Trophy for the institution that receives the highest recommandation rate from the Deans, all geographical zones taken together.</p> -->
                    <!-- <p>Therefore, we welcome you to share with us, confidentially and securely, which are the schools of the 1,000 Best Business Schools Offical Selection that you would recommend to your students and/or teachers in the context of an eventual mobility.</p> -->
                    <p>
                        <strong>PROCESS OF THE VOTING SESSION : </strong><button style="background-color: transparent; text-decoration: underline; color: #990098;" id="rules_of">CLICK
                            HERE</button>
                    </p>
                    <!-- <span id="btnRules">
			<span class="rules-of"><input name="no_comment" type="button" id="rules_of" class="button_rule" value="PROCESS OF THE VOTING SESSION : CLICK HERE"></span>
			</span> -->
                    <div class="ul-text" style="display: none;">
                        <ul class="text-justify">
                            <li>You will need to make your recommendations by country, in an alphabetical order. <strong>Your
                                    country</strong> will be <u>the last one you vote for after Zimbabwe</u>.</li>
                            <li>You are not allowed to vote for your own institution.</li>
                            <li>You cannot recommend more than 50% of the number of business schools per country.</li>
                            <li>If you don't hold sufficient background information to make a responsible vote, or don't have any
                                recommendation, you should select the item <i>"No I have no recommendation for this country"</i>,
                                and you’ll be automatically redirected to the next country.</li>
                            <li>If you have any additional comments regarding the business schools in a particular country, please
                                provide this information in the section <i>« Comments from the Dean »</i>.</li>
                            <li>You have to go through the whole process, one country at a time; however, you can save and
                                continue your voting session at a later time, by clicking on <i>« Save and continue later »</i>.
                            </li>
                            <li>Once you submit your final validation, your vote will be final and therefore cannot be changed.
                            </li>
                            <li>If you encounter any issues, do not hesitate to email us : <a href="mailto:deans.vote@eduniversal-group.com">deans.vote@eduniversal-group.com</a>.</li>
                        </ul>
                    </div>
                    <p>To help you prepare your recommendations, you can download the <a href="static/document/2019-Eduniversal-Official-Selection-of-the-1000-Best-Business-Schools-in-154-countries.pdf" target="_blank" class="p2" style="text-decoration: underline;">2019 Eduniversal Official Selection of
                            the 1,000 Best Business Schools in 154 countries</a></p>
                    <p><strong>Thank you for taking the time to participate in this survey !</strong></p>
                    <a id="topVote"></a>

                    <div class="db-line line-2"></div>
                </div><!-- /.intro-past -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="country-list  country-style-2">
                            <h2 class="title">Countries' list</h2>
                            <div class="scroll-pane">
                                <ul id="list_country">
                                    <li id='cid_1'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/albania.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p><b>Albania</b></p>
                                    </li>
                                    <li id='cid_2'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/algeria.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Algeria</p>
                                    </li>
                                    <li id='cid_3'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/angola.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Angola</p>
                                    </li>
                                    <li id='cid_4'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/argentina.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Argentina</p>
                                    </li>
                                    <li id='cid_5'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/armenia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Armenia</p>
                                    </li>
                                    <li id='cid_6'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/australia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Australia</p>
                                    </li>
                                    <li id='cid_7'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/austria.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Austria</p>
                                    </li>
                                    <li id='cid_8'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/azerbaijan.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Azerbaijan</p>
                                    </li>
                                    <li id='cid_9'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/bangladesh.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Bangladesh</p>
                                    </li>
                                    <li id='cid_10'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/barbados.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Barbados</p>
                                    </li>
                                    <li id='cid_11'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/belarus.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Belarus</p>
                                    </li>
                                    <li id='cid_12'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/belgium.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Belgium</p>
                                    </li>
                                    <li id='cid_13'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/belize.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Belize</p>
                                    </li>
                                    <li id='cid_14'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/benin.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Benin</p>
                                    </li>
                                    <li id='cid_15'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/bhutan.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Bhutan</p>
                                    </li>
                                    <li id='cid_16'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/bolivia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Bolivia</p>
                                    </li>
                                    <li id='cid_17'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/bosniaherzegovina.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Bosnia-Herzegovina</p>
                                    </li>
                                    <li id='cid_18'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/brazil.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Brazil</p>
                                    </li>
                                    <li id='cid_19'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/brunei.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Brunei</p>
                                    </li>
                                    <li id='cid_20'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/bulgaria.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Bulgaria</p>
                                    </li>
                                    <li id='cid_21'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/cambodia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Cambodia</p>
                                    </li>
                                    <li id='cid_22'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/cameroon.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Cameroon</p>
                                    </li>
                                    <li id='cid_23'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/canada.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Canada</p>
                                    </li>
                                    <li id='cid_24'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/cayman-islands-uk.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Cayman Islands (U.K.)</p>
                                    </li>
                                    <li id='cid_25'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/chile.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Chile</p>
                                    </li>
                                    <li id='cid_26'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/china.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>China</p>
                                    </li>
                                    <li id='cid_27'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/colombia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Colombia</p>
                                    </li>
                                    <li id='cid_28'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/congo.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Congo</p>
                                    </li>
                                    <li id='cid_29'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/costa-rica.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Costa Rica</p>
                                    </li>
                                    <li id='cid_30'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/croatia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Croatia</p>
                                    </li>
                                    <li id='cid_31'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/cuba.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Cuba</p>
                                    </li>
                                    <li id='cid_32'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/cyprus.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Cyprus</p>
                                    </li>
                                    <li id='cid_33'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/czech-republic.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Czech Republic</p>
                                    </li>
                                    <li id='cid_34'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/denmark.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Denmark</p>
                                    </li>
                                    <li id='cid_35'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/djibouti.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Djibouti</p>
                                    </li>
                                    <li id='cid_36'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/dominican-rep.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Dominican Rep.</p>
                                    </li>
                                    <li id='cid_37'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/ecuador.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Ecuador</p>
                                    </li>
                                    <li id='cid_38'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/egypt.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Egypt</p>
                                    </li>
                                    <li id='cid_39'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/el-salvador.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>El Salvador</p>
                                    </li>
                                    <li id='cid_40'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/estonia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Estonia</p>
                                    </li>
                                    <li id='cid_41'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/ethiopia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Ethiopia</p>
                                    </li>
                                    <li id='cid_42'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/fiji-islands.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Fiji Islands</p>
                                    </li>
                                    <li id='cid_43'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/finland.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Finland</p>
                                    </li>
                                    <li id='cid_44'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/france.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>France</p>
                                    </li>
                                    <li id='cid_45'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/gabon.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Gabon</p>
                                    </li>
                                    <li id='cid_46'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/georgia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Georgia</p>
                                    </li>
                                    <li id='cid_47'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/germany.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Germany</p>
                                    </li>
                                    <li id='cid_48'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/ghana.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Ghana</p>
                                    </li>
                                    <li id='cid_49'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/greece.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Greece</p>
                                    </li>
                                    <li id='cid_50'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/guam-usa.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Guam (U.S.A.)</p>
                                    </li>
                                    <li id='cid_51'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/guatemala.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Guatemala</p>
                                    </li>
                                    <li id='cid_52'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/guyana.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Guyana</p>
                                    </li>
                                    <li id='cid_53'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/haiti.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Haiti</p>
                                    </li>
                                    <li id='cid_54'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/hawaii-usa.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Hawaii (U.S.A)</p>
                                    </li>
                                    <li id='cid_55'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/honduras.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Honduras</p>
                                    </li>
                                    <li id='cid_56'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/hong-kong-sarchina.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Hong Kong (S.A.R.,China)</p>
                                    </li>
                                    <li id='cid_57'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/hungary.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Hungary</p>
                                    </li>
                                    <li id='cid_58'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/iceland.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Iceland</p>
                                    </li>
                                    <li id='cid_59'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/india.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>India</p>
                                    </li>
                                    <li id='cid_60'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/indonesia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Indonesia</p>
                                    </li>
                                    <li id='cid_61'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/iran.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Iran</p>
                                    </li>
                                    <li id='cid_62'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/ireland.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Ireland</p>
                                    </li>
                                    <li id='cid_63'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/israel.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Israel</p>
                                    </li>
                                    <li id='cid_64'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/italy.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Italy</p>
                                    </li>
                                    <li id='cid_65'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/ivory-coast.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Ivory Coast</p>
                                    </li>
                                    <li id='cid_66'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/jamaica.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Jamaica</p>
                                    </li>
                                    <li id='cid_67'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/japan.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Japan</p>
                                    </li>
                                    <li id='cid_69'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/jordan.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Jordan</p>
                                    </li>
                                    <li id='cid_70'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/kazakhstan.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Kazakhstan</p>
                                    </li>
                                    <li id='cid_71'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/kenya.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Kenya</p>
                                    </li>
                                    <li id='cid_72'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/kingdom-of-bahrain.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Kingdom of Bahrain</p>
                                    </li>
                                    <li id='cid_164'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/kosovo.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Kosovo</p>
                                    </li>
                                    <li id='cid_73'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/kuwait.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Kuwait</p>
                                    </li>
                                    <li id='cid_74'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/kyrgyzstan.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Kyrgyzstan</p>
                                    </li>
                                    <li id='cid_75'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/laos-pdr.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Laos PDR</p>
                                    </li>
                                    <li id='cid_76'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/latvia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Latvia</p>
                                    </li>
                                    <li id='cid_77'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/lebanon.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Lebanon</p>
                                    </li>
                                    <li id='cid_78'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/lesotho.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Lesotho</p>
                                    </li>
                                    <li id='cid_79'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/lithuania.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Lithuania</p>
                                    </li>
                                    <li id='cid_80'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/luxembourg.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Luxembourg</p>
                                    </li>
                                    <li id='cid_81'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/macau-sarchina.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Macau (S.A.R.,China)</p>
                                    </li>
                                    <li id='cid_82'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/macedonia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Macedonia</p>
                                    </li>
                                    <li id='cid_83'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/madagascar.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Madagascar</p>
                                    </li>
                                    <li id='cid_84'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/malawi.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Malawi</p>
                                    </li>
                                    <li id='cid_85'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/malaysia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Malaysia</p>
                                    </li>
                                    <li id='cid_86'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/maldives.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Maldives</p>
                                    </li>
                                    <li id='cid_87'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/mali.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Mali</p>
                                    </li>
                                    <li id='cid_88'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/malta.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Malta</p>
                                    </li>
                                    <li id='cid_89'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/mauritania.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Mauritania</p>
                                    </li>
                                    <li id='cid_90'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/mauritius.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Mauritius</p>
                                    </li>
                                    <li id='cid_91'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/mexico.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Mexico</p>
                                    </li>
                                    <li id='cid_92'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/moldova.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Moldova</p>
                                    </li>
                                    <li id='cid_93'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/monaco.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Monaco</p>
                                    </li>
                                    <li id='cid_94'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/mongolia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Mongolia</p>
                                    </li>
                                    <li id='cid_95'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/montenegro.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Montenegro</p>
                                    </li>
                                    <li id='cid_96'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/morocco.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Morocco</p>
                                    </li>
                                    <li id='cid_97'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/mozambique.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Mozambique</p>
                                    </li>
                                    <li id='cid_98'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/namibia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Namibia</p>
                                    </li>
                                    <li id='cid_99'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/nepal.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Nepal</p>
                                    </li>
                                    <li id='cid_100'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/netherlands.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Netherlands</p>
                                    </li>
                                    <li id='cid_101'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/new-zealand.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>New Zealand</p>
                                    </li>
                                    <li id='cid_102'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/nicaragua.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Nicaragua</p>
                                    </li>
                                    <li id='cid_103'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/nigeria.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Nigeria</p>
                                    </li>
                                    <li id='cid_104'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/norway.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Norway</p>
                                    </li>
                                    <li id='cid_105'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/oman.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Oman</p>
                                    </li>
                                    <li id='cid_106'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/pakistan.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Pakistan</p>
                                    </li>
                                    <li id='cid_107'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/palestinian-authority.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Palestinian Authority</p>
                                    </li>
                                    <li id='cid_108'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/panama.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Panama</p>
                                    </li>
                                    <li id='cid_109'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/papua-new-guinea.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Papua New Guinea</p>
                                    </li>
                                    <li id='cid_110'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/paraguay.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Paraguay</p>
                                    </li>
                                    <li id='cid_111'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/peru.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Peru</p>
                                    </li>
                                    <li id='cid_112'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/philippines.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Philippines</p>
                                    </li>
                                    <li id='cid_113'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/poland.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Poland</p>
                                    </li>
                                    <li id='cid_114'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/portugal.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Portugal</p>
                                    </li>
                                    <li id='cid_115'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/puerto-rico-usa.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Puerto Rico (U.S.A.)</p>
                                    </li>
                                    <li id='cid_116'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/qatar.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Qatar</p>
                                    </li>
                                    <li id='cid_117'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/rdc.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>RDC</p>
                                    </li>
                                    <li id='cid_118'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/romania.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Romania</p>
                                    </li>
                                    <li id='cid_123'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/rwanda.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Rwanda</p>
                                    </li>
                                    <li id='cid_124'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/samoa.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Samoa</p>
                                    </li>
                                    <li id='cid_125'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/saudi-arabia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Saudi Arabia</p>
                                    </li>
                                    <li id='cid_126'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/senegal.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Senegal</p>
                                    </li>
                                    <li id='cid_127'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/serbia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Serbia</p>
                                    </li>
                                    <li id='cid_128'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/sierra-leone.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Sierra Leone</p>
                                    </li>
                                    <li id='cid_129'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/singapore.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Singapore</p>
                                    </li>
                                    <li id='cid_130'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/slovakia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Slovakia</p>
                                    </li>
                                    <li id='cid_131'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/slovenia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Slovenia</p>
                                    </li>
                                    <li id='cid_132'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/somalia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Somalia</p>
                                    </li>
                                    <li id='cid_133'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/south-africa.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>South Africa</p>
                                    </li>
                                    <li id='cid_134'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/south-korea.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>South Korea</p>
                                    </li>
                                    <li id='cid_135'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/spain.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Spain</p>
                                    </li>
                                    <li id='cid_136'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/sri-lanka.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Sri Lanka</p>
                                    </li>
                                    <li id='cid_137'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/sudan.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Sudan</p>
                                    </li>
                                    <li id='cid_138'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/suriname.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Suriname</p>
                                    </li>
                                    <li id='cid_139'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/swaziland.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Swaziland</p>
                                    </li>
                                    <li id='cid_140'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/sweden.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Sweden</p>
                                    </li>
                                    <li id='cid_141'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/switzerland.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Switzerland</p>
                                    </li>
                                    <li id='cid_142'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/syria.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Syria</p>
                                    </li>
                                    <li id='cid_143'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/taiwan.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Taiwan</p>
                                    </li>
                                    <li id='cid_144'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/tanzania.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Tanzania</p>
                                    </li>
                                    <li id='cid_145'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/thailand.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Thailand</p>
                                    </li>
                                    <li id='cid_146'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/togo.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Togo</p>
                                    </li>
                                    <li id='cid_147'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/trinidad---tobago.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Trinidad & Tobago</p>
                                    </li>
                                    <li id='cid_148'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/tunisia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Tunisia</p>
                                    </li>
                                    <li id='cid_149'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/turkey.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Turkey</p>
                                    </li>
                                    <li id='cid_150'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/usa.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>U.S.A.</p>
                                    </li>
                                    <li id='cid_151'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/uganda.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Uganda</p>
                                    </li>
                                    <li id='cid_152'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/ukraine.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Ukraine</p>
                                    </li>
                                    <li id='cid_153'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/united-arab-emirates.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>United Arab Emirates</p>
                                    </li>
                                    <li id='cid_154'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/united-kingdom.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>United Kingdom</p>
                                    </li>
                                    <li id='cid_155'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/uruguay.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Uruguay</p>
                                    </li>
                                    <li id='cid_156'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/uzbekistan.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Uzbekistan</p>
                                    </li>
                                    <li id='cid_157'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/vanuatu.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Vanuatu</p>
                                    </li>
                                    <li id='cid_158'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/venezuela.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Venezuela</p>
                                    </li>
                                    <li id='cid_159'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/vietnam.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Vietnam</p>
                                    </li>
                                    <li id='cid_160'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/virgin-islands-usa.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Virgin Islands (U.S.A.)</p>
                                    </li>
                                    <li id='cid_161'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/yemen.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Yemen</p>
                                    </li>
                                    <li id='cid_162'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/zambia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Zambia</p>
                                    </li>
                                    <li id='cid_163'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/zimbabwe.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Zimbabwe</p>
                                    </li>
                                    <li id='cid_119'>
                                        <img src="{{ asset(asset_web_image_dir) }}/flags/russia.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";' />
                                        <p>Russia </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- col-md-3 -->

                    <div class="col-md-9">
                        <div class="vote-process">
                            <h2 class="title tt-progress">Voting session in progress</h2>
                            <hr>
                            <div class="progess_bg">
                                <div class="progess_bar">
                                    <div id="progressbar"></div>
                                </div>
                                <div class="progess_text">
                                    <span class="prog_text">0</span>% &nbsp; &nbsp; &nbsp; <span style="float:right; display:none">
                                        Rest Country</span>
                                </div>
                                <div class="school_name">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="50%" class="td1">
                                                    <p id="flags-img"><img src="{{ asset(asset_web_image_dir) }}/flags/albania.png" onerror='this.src="{{ asset(asset_web_image_dir) }}/flags/no-flag.png";'></p>
                                                </td>
                                                <td width="50%" class="td2"><span class="ctrname">Albania</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="title_school">
                                <div class="title_school_right">
                                    <div class="school_content">
                                        <a id="limitInfo"></a>
                                        <p>Which business school(s) would you recommend in <span class="ctrname">Albania</span>?</p>
                                        <div class="ul-text">
                                            <ul>
                                                <li style="margin-bottom: 7px; line-height: 18px;">See the list below and select the
                                                    corresponding institution(s). You can choose then if you would like to proceed to the next
                                                    institution <strong>« Save and continue now »</strong> or if you would like to continue
                                                    later <strong>« Save and continue later »</strong>.</li>
                                                <li style="margin-bottom: 7px; line-height: 18px;">If you don’t have recommendations for
                                                    this country, please click on the red button <strong>« No, I don’t have recommendations
                                                        for this country »</strong> in order to proceed to the next one.</li>
                                                <li style="margin-bottom: 7px; line-height: 18px;">If you have any further comments or
                                                    recommendations, please provide it below in the specific section.</li>
                                                <li style="margin-bottom: 7px; line-height: 18px;">If you made a mistake regarding the
                                                    previous country, you can click on <strong>« Back »</strong> and go back and change your
                                                    recommendation(s).</li>
                                            </ul>
                                        </div>
                                        <br>
                                        <table width="60%">
                                            <thead>
                                                <tr>
                                                    <td>You can recommend up to 50% of the schools</td>
                                                    <td>Number of schools left to recommend</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="total_school">1</td>
                                                    <td class="limit_school">1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span id="bNoRecommend">
                                            <span class="no_mid_button"><input finish="false" rel="noRecommend" type="button" id="no_recmd" class="button_login" value="No, I don't have recommendations for this country"></span>
                                        </span>
                                        <div id="loading_top"><img src="{{ asset(asset_web_image_dir) }}/loading-big.gif"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="content_school">
                                <p class="p_checkfinish">
                                    <input type="hidden" id="checkfinish" name="checkfinish">
                                </p>
                                <div class="content_school_line clearfix"></div>
                                <p class="list_school_ck">List of the Business Schools:</p>
                                <ul class="list-chk-schools" id="showschool">
                                    <li id="blockSchool_146"> <label>
                                            <input type="checkbox" name="school[]" id="checkbox" value="146" rel="vote_item" />
                                            Universiteti I Tiranës Faculty of Economics
                                        </label> <i class="fake-il"></i></li>
                                </ul>
                            </div>
                            <div class="comment-vote">
                                <p class="recommendations"><strong style="font-style: normal;">IMPORTANT: </strong>Please use the
                                    following section for any further comments regarding business school(s) in this country.</p>
                                <textarea id="countryComment"></textarea>
                            </div>
                            <!-- end content-school-->
                            <div class="content_school_b">
                                <div id="loading"><img src="{{ asset(asset_web_image_dir) }}/loading-big.gif"></div>
                            </div>
                            <div class="divcenterbutton">

                                <span id="bBack">
                                    <span class="g_mid_button">
                                        <input name="back" type="button" id="back" class="button_login" value="Back">
                                    </span>
                                </span>

                                <span id="bLater">
                                    <span class="n_mid_button">
                                        <input id="later" name="later" type="button" class="button_login" value="Save and continue later">
                                    </span>
                                </span>

                                <span id="bNext" class="mid_button">
                                    <input name="next" type="button" id="next" rel="doVote" class="button_login" value="Save and continue now">
                                </span>

                                <span id="bFinish">
                                    <span class="n_mid_button">
                                        <input name="finish" type="button" id="finish" class="button_login" rel="finish" value="Finish and validate your Dean's session YEAR">
                                    </span>
                                </span>

                            </div>
                        </div> <!-- /.vote-process -->
                    </div><!-- /.col-md-9  -->
                </div>
                <!--/. row -->
            </div>
        </div>
    </div>
    
</main>
{% endblock %}

{% block javascript %}
    {% include web_dean_dir ~ "\/" ~ "javascript/voting_session_js.html.twig" %}
{% endblock %}