{% for voteSession in listVoteSession %}
<tr id="{{ voteSession.id }}">
    <td>{{ voteSession.year }}</td>
    <td>
        {{ voteSession.beginAt|date("h:m:s m/d/Y") }}
    </td>
    <td>
        {{ voteSession.closedAt is empty ? "" : voteSession.closedAt|date("m/d/Y h:m:s") }}
    </td>
    <td align="center">
        <a href="javascript:void(0)">
            {% if voteSession.closedAt is empty %}
                <img src="{{ asset(asset_admin_image_dir) }}/active.svg" width="18">
            {% else %}
                <img src="{{ asset(asset_admin_image_dir) }}/inactive.svg" width="18">
            {% endif %}
        </a>
    </td>
</tr>
{% endfor %}