<section id="sec-homeintro">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="title-line">The 2020 survey is now open !</h4>
                <ul class="step-intro">
                    <li>
                        <a href="/voting-process/prepare-your-voting-session">
                            <img src="{{ asset('web') }}/images/step-1.png">
                        </a>
                        <a href="/voting-process/prepare-your-voting-session">
                            <h3>Prepare your<br> voting session</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/voting-process/start-your-voting-session">
                            <img src="{{ asset('web') }}/images/step-2.png">
                        </a>
                        <a href="/voting-process/start-your-voting-session">
                            <!-- <h3>Start your voting<br> session 2020</h3> -->
                            <h3>Start your voting<br> session 2020</h3>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4 class="title-line">Eduniversal World Convention & Testimonies</h4>
                <div class="gallery-amazingslider clearfix">
                    <div class="slider-3">
                        <div id="amazingslider" style="display:block; position:relative; margin:0px auto 0px;">
                            <ul class="amazingslider-slides" style="display:none;">
                                <li>
                                    <img src="{{ asset('web') }}/images/gallery/2019/convention-2019.jpg" alt="">
                                    <video preload="none" src="https://www.youtube.com/embed/L3iknutHEA0"></video>
                                </li>
                                <li>
                                    <img src="{{ asset('web') }}/images/gallery/2019/video-01.jpg" alt="">
                                    <video preload="none" src="https://www.youtube.com/embed/CBD0fMy1OuY"></video>
                                </li>
                                <li>
                                    <img src="{{ asset('web') }}/images/gallery/2019/video-02.jpg">
                                    <video preload="none" src="https://www.youtube.com/embed/LqUVquCpw5c"></video>
                                </li>
                                <li>
                                    <img src="{{ asset('web') }}/images/gallery/2019/video-03.jpg">
                                    <video preload="none" src="https://www.youtube.com/embed/dNJcqlVZdDc"></video>
                                </li>
                            </ul>
                            <ul class="amazingslider-thumbnails" style="display:none;">
                                <li><img src="{{ asset('web') }}/images/gallery/2019/convention-2019.jpg"></li>
                                <li><img src="{{ asset('web') }}/images/gallery/2019/video-01.jpg"></li>
                                <li><img src="{{ asset('web') }}/images/gallery/2019/video-02.jpg"></li>
                                <li><img src="{{ asset('web') }}/images/gallery/2019/video-03.jpg"></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>