<script type="text/javascript">
    // auto write slug when enter input name:
    $(document).ready(function() {
        update.bindEvent();
    });
    // =====================================

    var url = "{{ path('admin_area') }}";
    var url_export = "{{ path('admin_export_area_data') }}";
    var deafault_page = 1;
    var view = {
        url: "{{ path('admin_area') }}",
        url_export: "{{ path('admin_export_area_data') }}",
        limit: {{ itemsPerPage }},
        page: 1
    };


    $(document).ready(function() {
        // Export Excell file:
        $('body').on('click', '#exportToExcel', function(event) {
            console.log('export!');
            window.location.href = build_url_export();
        });

        // [create-update] area - ajax:
        $('body').on('submit', '#area-form', function(event) {
            event.preventDefault();
            var form_element = this;
            var formData = new FormData(form_element);
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                beforeSend: function () {
                    $('#overlay').fadeIn();
            }
            }).done(function(response) {
                var name_error = document.getElementById("txt-area-name");
                var slug_error = document.getElementById("txt-area-slug");
                if (response.status === "success") {
                    notifiSuccess(response.message);
                    setTimeout(function(){
                        redirectTo(response.url);
                    }, 1500);
                }
                if (response.status === "failed" && response.messages.name) {
                    name_error.style.borderColor = "red";
                    document.getElementById("name-error").innerHTML = '<i class="icon fa fa-ban"></i> &nbsp;' + response.messages.name;
                } else {
                    name_error.style.borderColor = "";
                    document.getElementById("name-error").innerHTML = '';
                }
                if (response.status === "failed" && response.messages.slug) {
                    slug_error.style.borderColor = "red";
                    document.getElementById("slug-error").innerHTML = '<i class="icon fa fa-ban"></i> &nbsp;' + response.messages.slug;
                } else {
                    slug_error.style.borderColor = "";
                    document.getElementById("slug-error").innerHTML = '';
                }
            }).always(function () {
                $('#overlay').fadeOut();
            });
        });
        
        // filter area by status - jax:
        $("#filter-areas-by-status").on('change', function(event) {
            var value = $(this).val();

            view.status = value;
            view.page = deafault_page;
            load_data(build_url())
                .done(function(response) {
                    if (response.status === "success") {
                        $('#list-area-container').html(response.html);
                        $('#area-paging').html(response.htmlPaging);
                    }
                }).always();
        });

        // paginate [page-limit] item - ajax:
        $('#cboLimit').on('change', function(event) {
            var value = $(this).val();
            
            view.limit = value;

            load_data(build_url())
            .done(function(response) {
                if (response.status === "success") {
                    $('#list-area-container').html(response.html);
                    $('#area-paging').html(response.htmlPaging);
                }
            }).always();
        });

        // search Area by [name-id] - ajax:
        $("#search-area").keypress(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                var field = $("#field-search").val();
                var text = $(this).val();

                view.search = {
                    field: field,
                    text: text
                };
                view.page = deafault_page;
                load_data(build_url())
                .done(function(response){
                    $('#list-area-container').html(response.html);
                    $('#area-paging').html(response.htmlPaging);
                }).always();
            }
        });

        // autofill input:
        $('body').on('keyup', '#txt-area-name', function(event) {
            var value = $('#txt-area-name').val();
            $("#txt-area-slug").val(value.split(/\s{1,}/g).join('-'));
        });

        $('body').on('change', '#area-form :input', function(event) {
            $("#area-form").data('changed', true);
        });
        
    }); // end jquery

    // show update current info:
    function fillUpdateForm(area_id)
    {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '{{ path("admin_show_area_info") }}',
            data: {
                area_id: area_id
            },
            success: function(response) {
                if (response.status === "success") {
                    $('#update-span').html(response.html);
                }
            }
        });
    }

    // check info has changed:
    function formHasChanged()
    {
        if ($('#area-form').data('changed')) {
            $('#area-form').submit();
        } else {
            $("#update-message").remove();
            $("#frames").prepend('<div id="update-message" class="alert alert-warning">No Info Changed</div>');
            setTimeout(function() { 
                $("#update-message").hide('slow', function(){ $("#update-message").remove(); });
            }, 2000);
        }
    }

    // remove area:
    function removeArea(area_id)
    {
        Swal.fire({
        width: 350,
        text: "Are you sure ?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#F4B85F',
        cancelButtonColor: '#a1a1a1',
        confirmButtonText: 'delete it'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '{{ path("admin_delete_area_action") }}',
                    data: {
                        area_id: area_id
                    },
                    success: function(response) {
                        // console.log(response);
                        if (response.status === "success") {
                            notifiSuccess(response.message);
                            setTimeout(function(){
                                redirectTo(response.url);
                            }, 1000);
                        } else {
                            swal(response.messages.emtyArea);
                        }
                    }
                });
            }
        })
        
    }
    
    // change status:
    function toggleStatus(area_id, element)
    {
        var current_status = $(element).attr('class');
        console.log(current_status);
        var next_status;
        var next_area_status;
        if (current_status == 'active') {
            next_status = 'inactive';
        } else {
            next_status = 'active';
            next_area_status = 1;
        }
        $.ajax({
            type: 'POST',
            url: '{{ path("admin_update_status_area_action") }}',
            dataType: 'json',
            data: {
                area_id: area_id,
                area_status: next_area_status
            },
            beforeSend: function () {
                    $('#overlay').fadeIn();
            },
            success: function(response) {
                if (response.status === 'success') {
                    notifiSuccess(response.message);
                    $(element).attr('class', next_status);
                    $(element).html('<img src="{{ asset(asset_admin_image_dir) }}/' + next_status + '.svg" width="18">');
                }
            }
        }).always(function () {
            $('#overlay').fadeOut();
        });
    }

    // sort area by name:
    function sortNameArea(element)
    {
        var current_sort = $(element).attr('sort-type');
        var next_sort;

        if (current_sort == "ASC") {
            next_sort = 'DESC';
        } else {
            next_sort = "ASC";
        }

        view.name = next_sort;

        load_data(build_url())
        .done(function(response) {
            if (response.status === 'success') {
                $('#list-area-container').html(response.html);
                $(element).attr('sort-type', next_sort);
            }
        }).always();
    }

    // build url request params:
    function build_url()
    {
        let url = view.url + '?' + 'page=' + view.page + '&limit=' + view.limit;

        if (view.hasOwnProperty('name')) {
            url += '&name=' + view.name;
        }

        if (view.hasOwnProperty('status')) {
            url += '&status=' + view.status;
        }

        if (view.hasOwnProperty('search')) {
            url += '&fieldSearch=' + view.search.field + '&textSearch=' + view.search.text;
        }

        return url;
    }

    function build_url_export()
    {
        let url_export = view.url_export + '?act=export_data';

        if (view.hasOwnProperty('name')) {
            url_export += '&name=' + view.name;
        }

        if (view.hasOwnProperty('status')) {
            url_export += '&status=' + view.status;
        }

        if (view.hasOwnProperty('search')) {
            url_export += '&fieldSearch=' + view.search.field + '&textSearch=' + view.search.text;
        }

        return url_export;
    }

    function load_data(url)
    {
        return $.ajax({
            url: url,
            method: 'get',
            dataType: 'json',
        });
    }

    // partial response:
    function notifiSuccess(message)
    {
        Swal.fire({
            width: 280,
            position: 'top-end',
            icon: 'success',
            text: message,
            showConfirmButton: false,
            timer: 1300,
            timerProgressBar: true,
        })
    }
    function redirectTo(url)
    {
        window.location.href = url;
    }
</script>