{% extends 'admin/layout/base.html.twig' %}

{% set admin_page_school_dir = admin_page_dir ~ '\/school' %}
{% set admin_page_school_js_dir = admin_page_school_dir ~ '\/javascript' %}

{% block content %}
    <div class="content">
        <div class="row align-items-center panel-heading-top">
            <div class="col-12 col-md-4">
                <div class="form-row filter-row mt-2">
                    <div class="col-4 col-md-4 form-group form-group-primary">
                        <select class="custom-select select-style-second form-control select-keyword"
                            id="listField">
                            <option value="name">School Name</option>
                            <option value="id">School Id</option>
                            <option value="dean_name">Dean Name</option>
                        </select>
                    </div>
                    <div class="col-8 col-md-8">
                        <div class="input-group no-border ">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </span>
                            <input type="text" value="" class="form-control" placeholder="Search..."
                                id="txtKeyword" />
                        </div>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary  d-none">Search</button>
            </div>
            <div class="col-12 col-md-8">
                {{ schoolTableViewModel.renderNavbarYears(4)|raw }}
            </div>
        </div>
        <hr>

        <!-- row -->
        <div class="card-plain">
            <div class="d-flex align-items-center">
                {% include admin_component_table_dir ~ '\/pagination.html.twig'  %}
                <div class="ml-auto">
                    <a class="btn btn-neutral" href="/admin/test/export-excel">EXPORT <i class="icon-svg"><img src="{{ asset(asset_admin_v2_image_dir) }}/excel.svg" alt="" width="20"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        {{ schoolTableViewModel.renderMainSchoolTableHeader()|raw }}
                        {{ schoolTableViewModel.renderMainSchoolTableBody()|raw }}
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="note-school-modal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="logo text-center">
                            <img src="{{ asset(asset_admin_v2_image_dir) }}/logo.png" />
                        </div>
                        <h4 class="modal-title">Note</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <textarea id="note-content" data-school=""></textarea>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="save_note_school()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% include admin_page_school_js_dir ~ '\/main_school.js.twig' %}
{% endblock %}
