{% set item_count_selections = [25, 50, 100] %}
{% set disable_left_fa = 1 == pagination.getCurrentPageNumber() ? 'cursor: not-allowed;' : ''%}
{% set disable_right_fa = pagination.getCurrentPageNumber() == numberOfPage ? 'cursor: not-allowed;' : ''%}

<div class="d-flex align-items-center">
    <div class="form-inline">
        <label>Show
            <span class="item-perpage">
                <select class="custom-select form-control form-control-sm mx-2" id="cboLimit">
                {% for item_count in item_count_selections %}
                    {% set selected = item_count == pagination.getItemNumberPerPage() ? 'selected' : '' %}
                    <option value="{{ item_count }}" {{ selected }}>{{ item_count }}</option>
                {% endfor %}
                </select>
            </span> items of
            <span id="spnTotalRows" total-item="{{ pagination.getTotalItemCount() }}" style="margin: 0 10px; color: #cb9e6e;">{{ pagination.getTotalItemCount|default('') }}</span> items
        </label>
    </div>
    <div class="w-paging">
        <span style="float: left;padding: 5px;">in page:</span>

        <ul class="pagination mb-0" id="ulPaging" current-page="{{ pagination.getCurrentPageNumber() }}" number-of-page="{{ numberOfPage }}">
            <li class="page-item">
                <a page-label="first" href="javascript:void(0)" class="page-link" style="{{disable_left_fa}}"><i class="fas fa-step-backward"></i></a>
            </li>
            <li class="page-item">
                <a page-label="previous" href="javascript:void(0)" class="page-link" style="{{disable_left_fa}}"><i class="fas fa-caret-left"></i></a>
            </li>

            {% for i in range(1, numberOfPage) %}
                {% set page_active = i == pagination.getCurrentPageNumber() ? 'active' : '' %}
                {% if i != 0 %}
                <li class="page-item {{ page_active }}">
                    <a page-label="{{ i }}" class="page-link" href="javascript:void(0)">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}

            <li class="page-item">
                <a page-label="next" href="javascript:void(0)" class="page-link" style="{{disable_right_fa}}"><i class="fas fa-caret-right"></i></a>
            </li>
            <li class="page-item">
                <a page-label="last" href="javascript:void(0)" class="page-link" style="{{disable_right_fa}}"><i class="fas fa-step-forward"></i></a>
            </li>
        </ul>

    </div>
</div>
    