<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="shortcut icon" href="{{ asset('web') }}/images/favicon/ico.ico" />
  
  <title> {% block title %}Home{% endblock %} </title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Refresh" content="13600">
  <meta name="keywords" content="Eduniversal Deans' Vote">
  <meta name="description"
    content="Dean's Vote session 2020. The annual Best Business Schools Worldwide Ranking. An official Peers' Recognition and Awards ceremony!">
  <link href="{{ asset('web') }}/css/global.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ asset('web') }}/css/jquery.fancybox.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ asset('web') }}/css/owl.carousel.css" media="screen" rel="stylesheet" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ asset('web') }}/css/custom.css">
  <link rel="stylesheet" href="{{ asset('web') }}/css/customs/loading_spiner.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">

  <script type="text/javascript" src="{{ asset('web') }}/js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="{{ asset('web') }}/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ asset('web') }}/js/jquery.fancybox.js"></script>
  <script type="text/javascript" src="{{ asset('web') }}/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="{{ asset('web') }}/js/modernizr-2.8.3.min.js"></script>
  <script type="text/javascript" src="{{ asset('web') }}/js/scrolltopcontrol.js"></script>
  <script type="text/javascript" src="{{ asset('web') }}/js/wow.min.js"></script>
  <script type="text/javascript" src="{{ asset('web') }}/js/scripts.js"></script>
  <script type="text/javascript" src="{{ asset('web') }}/js/custom.js"></script>
  <script type="text/javascript" src="{{ asset('web') }}/js/main.js"></script>
  <script type="text/javascript" src="{{ asset('web') }}/js/customs/loading_spiner.js"></script>

  <meta property="og:title" content="Dean's vote 2020, Eduniversal Evaluation Agency">
  <meta property="og:image" content="https://eduniversal-deans-vote.com/{{ asset('web') }}/images/image-share.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://eduniversal-deans-vote.com/{{ asset('web') }}/images/image-share.jpg">